*
{
  padding: 0;
  margin: 0;
}
body{
  background: #383838;
  font-family: 'Raleway', sans-serif;;
}
.container-fluid
{
  background: #383838;
  padding-top: 20px;
  padding-bottom: 20px;
}
.head.d-flex{
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head, .about{
  margin: 20px;
  padding: 20px;
  color: #46bb85;
  background-color:#2c2c2c;
  box-shadow: 0px 0px 4px 2px rgb(27 27 27 / 75%);
}
span .decor:hover{
  cursor: pointer;
  color: #1e724b;
}
span .decor{
  transition: .3s;
  color: hsl(152, 28%, 55%)!important;
}
a{
  text-decoration: none;
  color: inherit!important;
}
span.reg-text{
  color: #918f8d!important;
}

.about > .row{
  padding: 20px;
  color: #918f8d;
}

.about > .row .col-md ul{
  border: none;

}
.mediumpg{
  cursor: pointer;
}
.mediumpg:hover > svg{
  transition: .4s;
  color:hsl(0, 0%, 53%)!important;
}

.about > .row .col-md ul li{
  background: inherit!important;
  border: none;
  padding: 0.25rem 0.75rem!important;
}
div.list{
  margin-top: 10px;
  padding: 5px;
  border-bottom: 0.5px solid rgb(70, 70, 70);
}
div.list > a{
  color: wheat!important;
}
.linkdate{
  color:wheat!important;
  padding-right: 10px;
  border-right: 0.5px solid rgb(70, 70, 70);
}
.about > .row .col-md ul li:nth-child(1){
 color: aliceblue!important;
 font-size: large;
 font-weight: bold;
}

.head span{
  color: #918f8d;
  margin-left: 20px;
  
}
@media screen and (max-width: 1367px) {
  .row.e > .col{
    display: none;
  }
  .row.e > .col-8{
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
    .about > .row .col-md ul li:nth-child(1){
      margin-top: 10px!important;
      padding-bottom: 5px!important;
      text-align: center;
     }
}
